/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter), sans-serif;
  font-variation-settings: var(--main-font-weight);
  background-image: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: #fff;
  width: var(--content-width);
  margin-inline: auto;
  border: 2px solid #000;
  margin-block-start: 100px;
  min-height: var(--header-height);
  padding-inline: var(--header-padding-inline);
  padding-block: var(--header-padding-block);
  text-align: center;
  font-family: var(--PressStart2P);
}

.header__title {
  font-size: var(--logo-font-size);
  font-weight: 400;
}

.header__subtitle {
  font-size: var(--subtitle-font-size);
  text-transform: uppercase;
  margin-block-start: 20px;
  font-weight: 400;
}
