/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-image: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: center;
}

.header__description {
  margin-block-start: 100px;
  padding-inline: var(--header-padding-inline);
  padding-block: var(--header-padding-block);
  font-family: var(--PressStart2P), sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-card {
  background-color: var(--background-color);
  outline: var(--block-border);
  width: var(--content-width);
}

.header__title {
  font-size: var(--logo-font-size);
  font-weight: 400;
}

.header__subtitle {
  font-size: var(--subtitle-font-size);
  text-transform: uppercase;
  margin-block-start: 20px;
  font-weight: 400;
}

.content {
  margin-block-start: 100px;
}

.content__card-list {
  display: grid;
  grid-auto-flow: row;
  gap: 52px;
  justify-content: center;
}

.content__card-title {
  padding: 6px 10px 6px 10px;
  font-weight: var(--title-font-weight);
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: var(--main-font-size);
}

.content__card-image-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.content__card-image {
  display: block;
  outline: var(--block-border);
  aspect-ratio: 1/1;
  width: 100%;
}

 .image-wrapper__label {
  position: absolute;
  top: 25px;
  right: 27px;
  font-family: var(--PressStart2P), sans-serif;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-weight: 400;
  text-shadow: -1px 0 var(--text-stroke-color), 1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color), 0  1px var(--text-stroke-color);
} 

@supports ((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .image-wrapper__label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.content__card-text {
  margin-block: 27px;
  margin-inline: 25px;
  font-size: var(--main-font-size);
  line-height: 21px;
}

.content__card-feedback {
  margin-top: 25px;
}

.card__button {
  padding-inline-end: 25px;
  padding-block-end: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.button {
  background-color: var(--background-color);
  border: var(--block-border);
  cursor: pointer;
}

.card__icon-button {
  border: none;
}

.card__like-button {
  width: 130px;
  height: 36px;
}

.button__text {
  font-family: var(--PressStart2P), sans-serif;
  font-size: 14px;
  vertical-align: middle;
}

.save__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 52px auto 100px auto;
  padding: 17px 20px;
}

.floppy-icon {
  width: 21px;
  height: 21px;
}

dialog {
  display: grid;
  position: fixed;
  inset: 0;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

dialog::backdrop {
  background-color: var(--dialog-background-color);
}

.dialog-window {
  width: var(--dialog-width);
  display:flex;
  flex-direction: column;
  padding: 0;
      align-items: center;
}

.dialog__content{
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin: 28px;
  align-items: center;
}

.dialog__button {
  padding: 9px 130px;
  margin: 0 30px 30px 30px;
}

.dialog__floppy-icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog__title {
  font-size: 14px;
  font-family: var(--PressStart2P), sans-serif;
  text-transform: uppercase;
  line-height: 150%;
  font-weight: 400;
}

@media (width < 376px) {
  .save__button {
    flex-direction: column;
    gap: 8px;
    padding: 15px 18px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .dialog__content{
    margin-inline-start: 40px;
  }

  .dialog__button {
    padding: 11px 116px;
    margin: 0 30px 30px 30px;
}

}


