/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --PressStart2P: 'PressStart2P';
    --Inter: 'Inter';
}