/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --PressStart2P: 'PressStart2P';
    --Inter: 'Inter';

    --main-font-weight: 410;
    --title-font-weight: 715;

    --background-gradient: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}